html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#content2, #content3 {
    display: none;
}

header {
    background-color: black;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .5);
}
a {
    color: white;
    text-decoration: none;
    transition: all .3s;
}
li {
    list-style: none;
}
div {
    margin: 10px auto;
    width: 80vw;
    animation: appear .7s;
}
a:hover {
    color: orange;
}
a:focus {
    color: orangered;
}
@keyframes appear {
    from {opacity: 0; width: 50vw;}
    to {opacity: 1; width: 80vw;}
  }